{% extends 'main/base.html' %}
{% load static %}
{% block extra_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/login.css' %}" />
{% endblock %}
{% block header-title %}ログイン{% endblock %}
{% block content %}
    {% if form.errors %}
    <div class="login-error-message">
        <span>ユーザーID, パスワードが一致しません．</span>
    </div>
    {% endif %}
    <form method="POST" action="{% url 'login_view' %}" class="login-form">
        {% csrf_token %}
        <div class="login__username">
        <label>ユーザーネーム:</label>
        {{ form.username }}
        {{ form.username.errors }}
        </div>
        <div class="login__password">
        <label>パスワード:</label>
        {{ form.password }}
        {{ form.password.errors }}
        </div>
        <button type="submit" class="login__button">ログイン</button>
    </form>
{% endblock content %}
{% block footer %}{% endblock %}