{% extends 'main/base.html' %}
{% load static %}
{% block extra_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/settings.css' %}" />
{% endblock %}
{% block header-title %}設定{% endblock %}

{% block content %}
    <ul>
        <li><a href="{% url 'username_change' %}" class="setting-button">ユーザ名変更</a></li>
        <li><a href="{% url 'mail_change' %}" class="setting-button">メールアドレス変更</a></li> {# 追加 #}
        <li><a href="{% url 'password_change' %}" class="setting-button">パスワード変更</a></li> {# 追加 #}
        <li><a href="/logout" class="setting-button">ログアウト</a></li> {# 追加 #}
    </ul>
{% endblock content %}