{% extends 'main/base.html' %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/signup.css' %}" />
{% endblock %}
{% block header-title %}会員登録{% endblock %}
{% block content %}
{# signup処理部分 #}
<form method="post" action="{% url 'signup_view' %}" class="signup-form">
    <table>
        {{ form.as_table }}
    </table>
    {% csrf_token %}
    <button type="submit" class="signup__button">submit</button>
    {# エラーメッセージを表示 #}
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    {% endfor %}
    {% endif %}
</form>

{% endblock content %}
{% block footer %}{% endblock %}